# local ssl
**/ssl/*

!/**/.gitkeep

.idea/*
*/.idea/*

*.iml

.DS_Store
.git-crypt.key
.env
.npmrc
.eslintcache
.envrc
.kubeconfig
.aws/credentials
.vscode/*
*/.vscode/*
target

*/spoon.classpath.tmp
spoon.classpath.tmp
*.html
/*.html